<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>61006194509-3i0ji982dujv5a51ar06crj5s6hfhe5h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.61006194509-3i0ji982dujv5a51ar06crj5s6hfhe5h</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>61006194509-n3jtge11tl2es0ke6gkrra808n5do4ki.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDtUa63oTfvdgCVxglKtzvQM_vyAQ8gwb4</string>
	<key>GCM_SENDER_ID</key>
	<string>61006194509</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.todolist</string>
	<key>PROJECT_ID</key>
	<string>student-todo-a61a1</string>
	<key>STORAGE_BUCKET</key>
	<string>student-todo-a61a1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:61006194509:ios:15728ac348101bbf443904</string>
	<key>DATABASE_URL</key>
	<string>https://student-todo-a61a1.firebaseio.com</string>
</dict>
</plist>